@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 95%;
    --foreground: 224 71% 4%;
    --card: 220 10% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 220 10% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 140 35% 55%;
    --primary-foreground: 210 100% 10%;
    --secondary: 210 100% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 40% 90%;
    --muted-foreground: 224 71% 25%;
    --accent: 140 45% 95%;
    --accent-foreground: 140 35% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 20% 88%;
    --input: 207 20% 92%;
    --ring: 140 35% 55%;
    --chart-1: 120 73% 75%;
    --chart-2: 48 96% 74%;
    --chart-3: 0 84% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 20% 10%;
    --foreground: 210 20% 95%;
    --card: 210 20% 12%;
    --card-foreground: 210 20% 95%;
    --popover: 210 20% 10%;
    --popover-foreground: 210 20% 95%;
    --primary: 140 35% 55%;
    --primary-foreground: 210 20% 10%;
    --secondary: 210 20% 20%;
    --secondary-foreground: 210 20% 95%;
    --muted: 210 20% 15%;
    --muted-foreground: 210 20% 70%;
    --accent: 140 20% 20%;
    --accent-foreground: 140 20% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 20%;
    --input: 210 20% 20%;
    --ring: 140 35% 55%;
    --chart-1: 120 73% 75%;
    --chart-2: 48 96% 74%;
    --chart-3: 0 84% 60%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
